.aider*
src/__pycache__/*

#Ignore all the data inside the data file
data/*

test.ipynb
tests/__pycache__/*
src/streamlit_app/__pycache__/*
.env
app/general_utils/__pycache__/*
app/__pycache__/*
cufile.log
__pycache__/*
