# Core Data Science
pandas>=1.3.0
numpy>=1.21.0

# NLP & Text Processing
wordcloud
emoji>=2.0.0

# Visualization
plotly>=5.0.0

# Web Framework
streamlit>=1.0.0
streamlit_tags

# API & Utils
python-dotenv>=0.18.0
PyYAML>=5.4.1